.imageWrapper {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}
.image {
    width: 100%;
}
.productMap {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
.compProdCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 306px;
    height: 444px;
    padding: 16px;
    margin-right: 60px;
    margin-bottom: 80px;
    background-color: #EFF0EF;
    cursor: pointer;
}
.compProdCard.outStock {
    opacity: 0.4;
}

.compProdCardPrice{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.title {
    font-weight: 400;
    font-size: 42px;
    line-height: 67px;
    margin-bottom: 75px;
}

.nameProduct {
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
}

.outOfStock {
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}
