.header {
    display: flex;
    justify-content: space-between;
}
.navigation {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}
.logo {
    width: 31px;
    height: 28px;
}
.cart {
    width: 20px;
    height: 13px;
}
.currency {
    width: 12px;
    height: 29px;
}
