.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    align-items: center;
}
.navigation {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}
.logo {
    width: 31px;
    height: 28px;
}
.cart {
    width: 20px;
    height: 20px;
}
.currency {
    width: 12px;
    height: 29px;
}

.headerActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 89px;
}
.navLink {
    position: relative;
    height: 20px;
    margin-left: 32px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.navLinkName {
    color: black;
    font-size: 16px;
    height: 20px;
    font-weight: 600;
}
.navLinkName.active {
    color: #5ECE7B;
}

/*.navLinkName:hover .navLinkName:not(:hover) {*/
/*    opacity: .2;*/
/*}*/




